root = true

[*]
charset = utf-8
insert_final_newline = true

[*.{bat,json,md,ps1,xml}]
end_of_line = lf
indent_style = space
indent_size = 4

[vagrantfile.template]
end_of_line = lf
indent_style = space
indent_size = 2
