#
# Vagrant Windows box factory
#
# @author Luke Carrier <luke@carrier.im>
# @copyright 2015 Luke Carrier
# @license GPL v3
#

$ROOT_DIR = Split-Path -Parent ($MyInvocation.MyCommand.Definition)

# Path to the Packer utilities, extracted from the archive for your platform
$PACKER_PATH = "${ROOT_DIR}\tools\packer_0.7.5_windows_amd64"

# Path to the VirtualBox utilities
$VIRTUALBOX_PATH = "C:\Program Files\Oracle\VirtualBox"
